<main>
  <div class="container">
    <label for="password">
      Password
    </label>

    <input
      id="password"
      type="password"
      placeholder="Password"
      class="control"
      [(ngModel)]="password"
    />

    <div class="sectionWrapper">
      <div
        class="section default"
        [class.default]="getStrength() === 'empty'"
        [class.easy]="getStrength() === 'short' || getStrength() === 'easy'"
        [class.medium]="getStrength() === 'medium'"
        [class.strong]="getStrength() === 'strong'"
      ></div>

      <div
        class="section default"
        [class.default]="getStrength() === 'empty' || getStrength() === 'easy'"
        [class.easy]="getStrength() === 'short'"
        [class.medium]="getStrength() === 'medium'"
        [class.strong]="getStrength() === 'strong'"
      ></div>

      <div
        class="section default"
        [class.default]="getStrength() === 'empty' || getStrength() === 'easy' || getStrength() === 'medium'"
        [class.easy]="getStrength() === 'short'"
        [class.strong]="getStrength() === 'strong'"
      ></div>
    </div>
  </div>
</main>